{{ define "zh/index.tmpl" }}
<!DOCTYPE html>
<html>
<head>
  <title>gws</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
  <div style="width:100%;text-align:center;">
  欢迎使用gws HTTP服务，一切准备就绪！
  </div>
</body>
</html>
{{ end }}